@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <a asp-controller="Movies" asp-action="Index" class="btn btn-lg btn-success wide-button"><h1>Check out what movies are in the catalog!</h1></a>
</div>
<div class="row">
    <a asp-controller="Reviews" asp-action="Index" class="btn btn-lg btn-info wide-button"><h1>Read some reviews!</h1></a>
</div>
